body{
   background-color: wheat;
}

p{
   color: #a52a2a;
}

h1{
   text-align: center;
}
h3{
   text-align: center;
}
p{
   text-align: justify;
   text-justify: inter-word;
}


p{
   color: red;
}
h3{
   color: black;
}

body{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
   color: #008000;
   text-decoration: none;
}

button{
   color: #000000;
   background-color: blueviolet;
}

textarea{
   color: #000000;
   color: black;
}

p{
   line-height: 30px;
}

h1{
   text-decoration: dotted underline;
}